*.o
*.obj
megaphone
phonebook
account
zombie
zombie_horde
brain
violence
replace
harl
harlFilter
fixed
bsp
*.swp
*.swo
*~
.DS_Store
*.replace
test.txt.replace
.vscode/
.idea/
*.code-workspace
*.pdf
*.txt 
claptrap
fragtrap
scavtrap
